*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

button {
  background: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}


ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

#root,
#__next {
  isolation: isolate;
}

body {
    background-color: #151B28;
    font-family: "Inter";
}

/* Header Start */
.pageHeader {
    border-bottom: 1px solid #2E3545;
}
.horizonalContainer {
    display: flex;
    justify-content: space-between;
    padding-left: 112px;
    padding-right: 112px;
}

.textInputContainer {
    display: flex;
    padding-top: 27px;
    padding-bottom: 27px;
}

.headerButton {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 22px;
    gap: 24px;
}

.textInput {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    color: white;
    padding-left: 64px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.signUp {
    border: 1px solid transparent;
    border-radius: 5px;
    color: #437EF7;
}

.logIn  {
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #437EF7;
    color: white;
    padding-top:12px ;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
}
/* Header End */



/* Main Start */
main {
    display: flex;
}

.logInPart {
    padding-left: 148px;
    padding-right: 148px;
    padding-top: 200px;
    padding-bottom: 306px;
}
.text h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    text-align: center;
    color: #F9F9F9;
    padding-bottom: 8px;
}

.text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #A5ACBA;
    padding-bottom: 32px;
}

.ctaSection p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #F9F9F9;
    padding-bottom: 8px;
}

.email {
    display: flex;
    background-color: transparent;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    border: 1px solid #2E3545;
    gap: 8px;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}

.email input {
    background-color: transparent;
    width: 100%;
}

.continue {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #437EF7;
    border: 1px solid;
    border-radius: 6px;
    margin-top: 24px;
}

.arrowLeft {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: #437EF7;
    gap: 6px;
    padding-top: 24px;
}
/* Main End */
